{% include 'lib/twig/_header.twig' with { 'title': pageTitles.home ~ pageTitles.default, 'bodyClass': pageClasses.home } %}

        <!-- <img class="w-logo" src="{{ cdnUrl }}/lib/dist/img/wlogo.png" alt="W Logo" border="0" /> -->
        <img class="avatar" src="{{ cdnUrl }}/lib/dist/img/avatar-wlogo.png" alt="Will Salem&eacute;" border="0" />
        <h1>Will Salem&eacute;</h1>
        <h2>Senior Full Stack Software Engineer</h2>

        <p class="status">
            Status:
            <span>Hired at
                <a href="https://www.reelmedia.co" target="_blank">Reel Media Studios</a> in <a href="https://goo.gl/maps/w73fSs8T2T62" target="_blank">Toronto</a>.
            </span>
        </p>
        <p class="status">
            Availability: <span>Available for hire immediately.</span>
        </p>
        <p class="status">
            <a href="https://www.linkedin.com/in/willsaleme" target="_blank">
                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View William Salem&eacute;'s Profile on LinkedIn" />
            </a>
        </p>

        <button type="button" class="contact-me" id="contact-me-button" onclick="insertContactInfo()">Get in touch!</button>
        <p class="contact-info" id="contact-info"></p>

        <!-- End of Body Content -->
        {% include 'lib/twig/_footer.twig' %}
